<html xmlns:th="https://www.thymeleaf.org">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
      $(document).ready(function() {
        $("#divPais").hide();
        $( "#selPaises" ).change(function () {
            var str = $(this).children("option:selected").val();
            getPais(str);
            //alert(str);
        })
      })
      function getPais(link) {
        $.get(link ,function(datos) {
            $("#nombre").html(datos.name);
            $("#region").html(datos.region + "/" + datos.subregion);
            $("#bandera").attr("src", datos.flag);
            $("#divPais").show();
        })
      }

</script>
<body>
<div>
    <select id="selPaises">
        <option th:each="pais : ${paises}" th:text="${pais.nombre}" th:value="${pais.link}"></option>
    </select>
    <div id="divPais">
        <h2 id="nombre"></h2>
        <p id="region"></p>
        <img id="bandera" style="width:200px" src="none"/>
    </div>
</div>
</body>
</html>